%h2 Login

= form_tag url: login_path do
  = label_tag :email 
  = text_field_tag :email
  = label_tag :password 
  = text_field_tag :password
  = submit_tag 'Enter'

= link_to 'Create Account', new_user_path

