%h2 Admin Dashboard
%hr
%section.admin-dashboard
  %section.admin-welcome
    %article.user-name
      %strong= "Name: #{current_user.name}"
    %article.user-email
      %strong= "Email: #{current_user.email}"

%hr

.orders-container
  %h3 Orders
  - @orders.each do |order|
    .order
      .order-info
        %p <strong>User: </strong> #{order.user.name}
        %p <strong>Total:</strong> #{number_to_currency(order.total_price)} 
        %p <strong>Submitted:</strong> #{order.created_at}
        %p <strong>Status:</strong> #{order.status}
        %p <strong>Updated At:</strong> #{order.updated_at}
        %p <strong>Order ID:</strong> #{order.id}
      .order-button
        = link_to 'Order Details', order_path(order), class: 'btn'