%article.form-container
  %article.form-header
    %h3 Create an Account
  
  %article.form-fields
    = bootstrap_form_for @user do |f|
      %article.form-field
        = f.text_field :first_name, hide_label: true, placeholder: 'first name'
      %article.form-field
        = f.text_field :last_name, hide_label: true, placeholder: 'last name'
      %article.form-field
        = f.email_field :email, hide_label: true, placeholder: 'email'
      %article.form-field
        = f.password_field :password, hide_label: true, placeholder: 'password'
      %article.form-field
        = f.password_field :password_confirmation, hide_label: true, placeholder: 'confirm password'
      %article.form-field
        = f.submit 'Submit'