%section.users-dashboard
  %section.users-welcome
    %article.user-name
      %strong= "Name: #{current_user.name}"
    %article.user-email
      %strong= "Email: #{current_user.email}"
%hr

= link_to "View Past Orders", orders_path, class: "orders-button"
