.orders-container
  %h3 Your Orders
  - 4.times do |n| 
    .order
      .order-info
        %p <strong>Total:</strong> #{number_to_currency(33.12)} 
        %p <strong>Submitted:</strong> #{Time.now}
        %p <strong>Status:</strong> #{'Cancelled'}, Date: #{Time.now}
        %p <strong>Order ID:</strong> #{12}
      .order-button
        = link_to 'Order Details', root_path, class: 'btn'