.order-container
  .order-header
    .order-price
      %h3 <strong>Total:</strong> #{number_to_currency(@order.total_price)}
    .order-info
      %p <strong>Submitted:</strong> #{@order.created_at}
      %p <strong>Status:</strong> #{@order.status}, Date: #{@order.updated_at}
      %p <strong>Order ID:</strong> #{@order.id}

  %ul.order-list
    - @order.items.each do |item|
      %li.order-item
        .img-container
          %img{ :src => "#{ item.image_url }", :alt => "item.name", :class => "img-responsive" }
        %section.info
          %h2= link_to item.name, item_path(item)
          %p= item.description
          %p= format_price_per_unit(@order.order_item(item))
          %p= "Quantity: #{@order.order_item_quantity(item)}"
          %p= "Subtotal: #{number_to_currency(@order.subtotal(item))}"
      %hr

  .orders-link
    = link_to 'Back to Orders', orders_path
