- @items.each do |item|
  = item.name
  = item.description
  = item.price_per_unit
  %img{ :src => "#{ item.image_url }", :alt => "item.name" }/
  = button_to "Remove", carts_path(item_id: item.id), method: :delete

= "Total Price: #{@cart.total_price} "
