%section.cart-container
  %ul
  - @items.each do |item|
    %li.cart-item
      %h1= item.name
      %p= item.description
      %p= item.price_per_unit
      %img{ :src => "#{ item.image_url }", :alt => "item.name" :class => "img-responsive" }/
    %hr

  = "Total Price: #{@cart.total_price} "
