.item-container
  .item-image
    %img{:src => @item.image, :alt => @item.name, :class => "img-responsive" }
  .item-info
    %h1= @item.name
    %h3= @item.description
    %p= format_price_per_unit(@item)
    %p= @item.category.title
    .item-button
      = item_status_check(@item)