%h1= @category.title

- @category.items.each do |item|
  %h2= item.name
  %p= item.description
  %p= item.price_per_unit
  %img{'src' => item.image_url, 'alt' => item.name }
  = button_to "Add to Cart", carts_path(item_id: item.id)
  